
.activities-container {
  padding-top: 1rem;
}


.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #ff4d4d;
  box-shadow: 0px 0px 10px rgba(255, 77, 77, 0.5);
}


.activity-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}


.activity-img {
  height: 200px;
  object-fit: cover;
}


.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}