.statistics-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.statistics-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.statistics-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.stat-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.stat-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.stat-subtitle {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #28a745;
    transition: width 0.5s ease-in-out;
}