.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    background: no-repeat center center/cover; /*  Se ajusta a la imagen din谩mica */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    padding-left: 80px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen para mejor contraste */
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    line-height: 5;
    justify-content: center;
    text-align: center;
}

/* Bot贸n Ranger Rojo */
.btn-ranger {
    background-color: #E63946;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-ranger:hover {
    background-color: #ff0000;
}

/* Bot贸n Explorer Verde */
.btn-explorer {
    background-color: #2A9D8F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 1pc;
}

.btn-explorer:hover {
    background-color: #00ff00;.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    background: no-repeat center center/cover; /*  Se ajusta a la imagen din谩mica */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    padding-left: 80px;
}

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen para mejor contraste */
    }

    .hero-content {
        position: relative;
        z-index: 1;
        max-width: 100%;
        line-height: 5;
        justify-content: center;
        text-align: center;
    }

    /* Bot贸n Ranger Rojo */
    .btn-ranger {
        background-color: #E63946;
        color: white;
        border: none;
        padding: 10px 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;
    }

    .btn-ranger:hover {
        background-color: #ff0000;
    }

    /* Bot贸n Explorer Verde */
    .btn-explorer {
        background-color: #2A9D8F;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 1pc;
    }

    .btn-explorer:hover {
        background-color: #00ff00;
    }
}