.main-dashboard {
    min-height: 100vh;
    background: white;
    padding: 20px;
    margin-top: 0px !important;
}

.hero-slider img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    background: white;
    transition: transform 0.2s ease-in-out;
    min-height: auto;
}

.card:hover {
    transform: translateY(-3px);
}

.avatars {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}


.map-container {
    text-align: center;
}

.google-map {
    border-radius: 8px;
    border: none;
}

.upcoming-trips table {
    width: 100%;
    text-align: center;
}


.upcoming-trips button {
    background: #e63946;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.upcoming-trips button:hover {
    background: #d62839;
}

.ol-control button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    width: 32px;
    height: 32px;
    transition: background-color 0.2s;
}

.ol-control button:hover {
    background-color: #e6e6e6;
}

.ol-rotate {
    display: none;
}

.table {
    height: 227px;
}

.carousel-image-container {
    position: relative;
    width: 100%;
}

.image-text {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 5px; 
}
