.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    /*margin: 100 auto;*/
    padding: 20px;
}

h2 {
    text-align: center;
    
}

.form-control {
    width: 100%;
    padding: 5px;
        padding: 5px;
        border: 1px solid #ddd;
    }

.form-label {
    display: block;
    margin-bottom: 5px;
}

.btn-dark {
    width: 100%;
    background-color: #2AB19F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #239485;
}

.extra-links {
    text-align: center;
    margin-top: 15px;
}

.extra-links a {
    margin-bottom: 10px;
    display: block;
    color: #2AB19F;
    text-decoration: none;
}

.signup-box {
justify-content: center;
align-items: center;
height: 100vh;
}

.signup-box2 {
    /* margin-top: 5px;*/
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }